* {
margin: 0;
padding: 0;
border: 0;
line-height: 1.4em;
vertical-align: baseline;
text-decoration: none;
outline: 0;
}

body{
	background-color:grey;
}

.container{
	width:25%;
	margin:0 auto;
	padding:100px 0;
}

.padd{
	padding:50px 0;
}

#srodkowe{
	font-weight:bold;
}

ul li{
	list-style-type:none;
}

ul li::before{
	content:"xD";
}